---
layout: application
permalink: /collaborations
title: "Professional Alliance Collaboration Groups"
description: "Explore our diverse collaboration groups and connect with professionals in your field."
image: "/images/logo/arc_logo_coloured_groups.png" # Consider a different image for groups
---

<div class="preloader-new">
    <div class="preloader-logo-new"></div>

    <div class="loader-new"></div>
</div>

<!-- schedule Section -->

<section class="schedule-section">

    <div class="anim-icons">

        <span class="icon icon-circle-4 wow zoomIn"></span>

        <span class="icon icon-circle-3 wow zoomIn"></span>

    </div>

    <div class="auto-container">

        <div class="sec-title text-center">
            <span class="title">Collaborations</span>
        </div>
        <div class="schedule-tabs tabs-box">
            <div class="tabs-content">
                <div class="tab active-tab" id="tab-1">
                    <div class="schedule-timeline">
                        {% for collaboration in site.data.new_remote.collaborations %}
                        {% include collaboration_block.liquid collaboration=collaboration %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>