<div class="schedule-block">
    <div class="inner-box">
        <div class="inner">
            <div class="date">March 2025</div>

            <div class="speakers-container">
                <div class="speaker-info">
                    <figure class="thumb"><img src="images/resource/thumb-1.jpg" alt=""></figure>
                    <h5 class="name">Ashli Scroggy</h5>
                    <span class="designation">Founder & CEO</span>
                </div>

                <div class="speaker-info">
                    <figure class="thumb"><img src="images/resource/thumb-1.jpg" alt=""></figure>
                    <h5 class="name">Ashli Scroggy</h5>
                    <span class="designation">Founder & CEO</span>
                </div>

                <div class="speaker-info">
                    <figure class="thumb"><img src="images/resource/thumb-1.jpg" alt=""></figure>
                    <h5 class="name">Ashli Scroggy</h5>
                    <span class="designation">Founder & CEO</span>
                </div>
            </div>

            <h4><a href="{{ include.collaboration['Name'] }}">{{ include.collaboration['Name'] }}</a></h4>

            <div class="text">{{ include.collaboration['Short Decription'] }}</div>

            <div class="btn-box">
                <a href="{{ include.collaboration['Name'] }}" class="theme-btn">Read More</a>
            </div>
        </div>
    </div>
</div>